<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @gf.url %>
</p>

<p>
  <strong>State:</strong>
  <%= @gf.state %>
</p>

<%= link_to 'Edit', edit_gf_path(@gf) %> |
<%= link_to 'Back', gfs_path %>
