<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @ga.url %>
</p>

<p>
  <strong>State:</strong>
  <%= @ga.state %>
</p>

<%= link_to 'Edit', edit_ga_path(@ga) %> |
<%= link_to 'Back', gas_path %>
